<div class="row top-header">
      <h1 class="col-10">Notebooks</h1>

      <a href="<%= new_notebook_path %>" class="card-link col-2 btn btn-secondary" id="add-note">
        <button type="button" class="btn btn-secondary" >Add Note</button>
      </a>
</div>
<div class="search bar row">
    <%= link_to "Sort", notebooks_sort_path(:sort_by_col=>"title-asc",:search_by_contain=>params[:search_by_contain]), method: :get,class:"col-2 bar-button btn btn-secondary",id:"sort_button" %>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <%= @current_filter.gsub('_', ' ').titleize %>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <% %w[all_notebooks notes_created notes_liked notes_commented].each do |filter| %>
    <li>
      <%= link_to filter.gsub('_', ' ').titleize,
                  notebooks_path({filter: filter}),
                  class: NotebooksHelper.dropdown_class(filter == @current_filter) %>
    </li>
    <% end %>
  </ul>
</div>

<div class="card-container notes" id="notes">
    <% @notes.each do |note| %>
    <%= render partial: 'parts/card', locals: { note: note } %>
    <% end %>
</div>
</div>


