<div class="row top-header">
  <h1 class="col-10" id="title">
    <% if @ancestors.nil? or @ancestors.empty? %>
      New note
    <% else %>
      New sub-note of <%= @ancestors[-1].title %>
    <% end %>
  </h1>
</div>

<div class="card bg-dark-l0 col-12 main-card">
  <div class="card-body bg-dark-l0">
  <%= form_with scope: :note, url: notebooks_path, model: @note do |form| %>
    <%= form.hidden_field :parent_id, value: params[:parent] %>
    <%= form.hidden_field :publisher_id, value: current_user.id %>
    <div class="form-group">
    <%= form.label :title, 'Title' %>
    <%= form.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
    <%= form.label :description, 'Description' %>
    <%= form.text_area :description, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :tags, 'Tags (Enter a comma (,) to start a new tag)' %>
      <input type="text" id="tag-input1" id="note_tags" name="tags">
    </div>
    <%= form.submit class: 'btn btn-submit btn-primary' %>
  <% end %>
  </div>
</div>
<%= javascript_pack_tag 'tags' %>