
<div class="row show-notes">
  <div class="main-panel">
    <div class="note-main-section">
      <div id="<%= @note.id %>_tag_wrapper" class="tag_wrapper_inputcheck">
          <%= render partial: "parts/tag_display", locals: { note: @note } %>
      </div>

      <div class="highlight-wrapper">
        <div class="card col-12 main-card highlight">
          <div class="bg">
          </div>
          <div class="card-body">
            <div class="card-title">
              <div class="note-title">
                <h1 class="col-10 mt-0" id="title"><%= @note.title %></h1>
              </div>
            </div>
            <div class="card-text" id="description">
              <%= @note.description %>
            </div>
          </div>
          <div class="card-footer likes">
            <div class="like-wrapper">
              <% if current_user.nil? %>
                <%= fa_icon "thumbs-up", class: "icon", type: :far %>
              <% else %>
                <a href="<%= notebook_likes_path(@note.id) %>" id="like_button" class="like-button">
                <!--<i class="bi bi-suit-heart< current_user.is_like_clicked(@note.id) ? "-filled" : ""%>">-->
                <%= fa_icon "thumbs-up", class: "icon", type: current_user.is_like_clicked?(@note.id) ? :far : :fas %>
              <% end %>
              <span id="num_likes"><%= @note.likes %></span>
              <% unless current_user.nil? %>
                </a>
              <% end %>
            </div>

            <div class="note-buttons">
              <a href="<%= edit_notebook_path(@note) %>" class="card-link col-2">
                <button type="button" class="btn btn-secondary" id="edit-note">Edit Note</button>
              </a>
              <a href="<%= new_notebook_path({parent: @note}) %>" class="card-link col-2">
                <button type="button" class="btn btn-secondary" id="add-note">Add Note</button>
              </a>
            </div>
          </div>
        </div><!-- .main-card.highlight -->
      </div><!-- .highlight-wrapper -->
      <% if @note.children.length > 0 %>
      <h3>Sub-notes</h3>
      <div id="children-graph" style="width: 99%; height: 400px;">
        <%= content_tag :div, id: "parentinfo", data: {parentinfo: @note} do %>
        <% end %>
        <%= content_tag :div, id: "childreninfo", data: {childreninfo: @children} do %>
        <% end %>
      </div>
      <div class="row notes" id="children" style="visibility:hidden;position:absolute;">
        <% @note.children.each do |note| %>
        <%= render partial:"parts/card", locals: {note: note} %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="comments-panel">
    <div class="card bg-dark-l3 comment-container">
      <div class="card-body comments" id="comments">
        <div class="card-header comment-header">
          <div class="card-title">
            <div class="button-group" id="comment-header">
              <h3>Comments</h3>
              <a href="<%= new_notebook_comment_path @note %>"
                 class="btn btn-primary btn-xs ms-2"
                 aria-label="comment-header add-comment">

                <%= fa_icon "plus", class: "icon", type: :fas %>
                <span style="visibility: hidden; position: absolute;" id="add-comment">Add Comment</span></a>
            </div>
          </div>
        </div>
        <ul class="list-group comments-body">
          <% @note.user_comments.each do |user_comment| %>
            <%= render partial:"parts/comment", locals: { comment: user_comment } %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>