
<div class="row show-notes">
  <div class="main-panel">
    <div class="row top-header mt-0 pt-0">
      <div class="note-title">
        <h1 class="col-10 mt-0" id="title"><%= @note.title %></h1>
      </div>
      <div class="note-buttons">
        <a href="<%= edit_notebook_path(@note) %>" class="card-link col-2">
          <button type="button" class="btn btn-secondary" id="edit-note">Edit Note</button>
        </a>
        <a href="<%= new_notebook_path({parent: @note}) %>" class="card-link col-2">
          <button type="button" class="btn btn-secondary" id="add-note">Add Note</button>
        </a>
      </div>
    </div>
    <div class="note-main-section">
      <div id="<%= @note.id %>_tag_wrapper" class="tag_wrapper_inputcheck">
          <%= render partial: "parts/tag_display", locals: { note: @note } %>
      </div>

      <div class="card bg-dark-l1 col-12 main-card">
        <div class="card-body">
          <div class="card-title">
            <h3>Description</h3>
          </div>
          <div class="card-text" id="description">
            <%= @note.description %>
          </div>
        </div>
        <div class="card-footer likes">
          <div class="like-wrapper">
            <% unless current_user.nil? %>
              <a href="<%= notebook_likes_path(@note.id) %>" id="like_button" class="like-button">
                  <!--<i class="bi bi-suit-heart< current_user.is_like_clicked(@note.id) ? "-filled" : ""%>">-->
                <%= fa_icon "thumbs-up", type: current_user.is_like_clicked?(@note.id) ? :far : :fas %>
              </a>
            <% end %>
            <span id="num_likes"><%= @note.likes %></span>
          </div>
        </div>
      </div>
      <% if @note.children.length > 0 %>
      <h3>Sub-notes</h3>
      <div id="children" style="width: 2000px; height: 400px;">
      <%= content_tag :div, class: "parentinfo", data: {parentinfo: @note} do %>
      <% end %>
      <%= content_tag :div, class: "childreninfo", data: {childreninfo: @children} do %>
      <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="comments-panel">
    <div class="card bg-dark-l3 comment-container">
      <div class="card-body comments" id="comments">
        <div class="card-title"><h3>Comments</h3></div>
        <ul class="list-group comments-body">
          <% @note.user_comments.each do |user_comment| %>
            <%= render partial:"parts/comment", locals: { comment: user_comment } %>
          <% end %>
        </ul>
        <div class="card-footer">
          <a href="<%= new_notebook_comment_path @note %>" class="btn btn-primary btn-md mt-4">Add Comment</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://unpkg.com/gojs/release/go.js"></script>
<%= javascript_pack_tag 'tree' %>