<div class="card bg-dark-l1 col-12 main-card">
  <div class="card-body bg-light-l3 d-flex mb-3 p-2">
    <div class="card-title me-auto p-1">
      <h3><%= @user.display_name %></h3>
    </div>
    <% if @user == current_user %>
      <div class="p-1">
      <a href="<%= edit_user_registration_path %>" class="btn btn-primary" id="edit_profile">
        Edit Profile
      </a>
      </div>
    <% end %>
  </div>
    <ul class="list-group ">
      <li class="list-group-item" id="email">
        <i class="far fa-envelope-open"></i>
        <strong>Email:</strong> <%= @user.email %>
      </li>
      <li class="list-group-item" id="first_name">
        <strong>First Name:</strong> <%= @user.first_name %>
      </li>
      <li class="list-group-item" id="last_name">
        <strong>Last Name:</strong> <%= @user.last_name %>
      </li>
      <li class="list-group-item" id="affiliation">
        <strong>Affiliation:</strong> <%= @user.affiliation %>
      </li>
      <li class="list-group-item" id="organization">
        <strong>Organization:</strong> <%= @user.organization %>
      </li>
    </ul>
</div>
