<% if !current_page?(notebooks_path) %>
  <nav aria-label="breadcrumb" id="breadcrumbs">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= notebooks_path %>">Home</a></li>
    <% @note.ancestors.each do |note| %>
      <li class="breadcrumb-item"><a href="<%= notebook_path note.id %>"><%= note.title %></a></li>
    <% end %>
    <li class="breadcrumb-item"><a href="<%= notebook_path @note.id %>"><%= @note.title %></a></li>
  </ol>
</nav>
<% end %>