<div class="d-flex bd-highlight mb-3 p-2">
  <div class="me-auto main-header-section">
    <div class="header">
        <a href="/" class="header-title owledge_logo" id="owledge_logo"><h1>Owledge</h1></a>
        
      <%= form_tag notebooks_search_url, method: :get do %>
        <div class="search-section row">
          <%= text_field_tag :search_by_contain, params[:search_by_contain], id:"search-bar" ,class:"col-7" , placeholder:"Find your notes"%>
          <%= submit_tag "Search", :id => 'search', :style => "visibility:hidden;" %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="login_section" class="simple-wrapper">
    <%= render 'layouts/login_section' %>
  </div>
</div>
<% if flash[:error].present? %>
<div class="alert alert-warning" id="error_message" style="margin:0px">
  <%=  flash[:error]  %>
</div>
<% end %>
<%  %>
<% if notice.present? %>
<div class="alert alert-info" id="success_message"><%= notice %></div>
<% end %>
<% if alert.present? %>
<div class="alert alert-danger" id="danger_message"><%= alert %></div>
<% end %>
