<div class="row top-header">
  <h1 class="col-10" id="title"><%= @note.title %></h1>

  <a href="<%= new_notebook_path({parent: @note}) %>" class="card-link col-2">
    <button type="button" class="btn btn-secondary" id="add-note">Add Note</button>
  </a>
</div>

<div class="row">
  <div class="col-md-9">
    <div class="card bg-dark-l1 col-12 main-card">
      <div class="card-body">
        <div class="card-title">
          <h3>Description</h3>
        </div>
        <div class="card-text" id="description">
          <%= @note.description %>
        </div>
      </div>
    </div>
    <% if @note.children.length > 0 %>
    <h3>Children</h3>
    <div class="row notes" id="children">
      <% @note.children.each do |note| %>
      <%= render partial:"parts/card", locals: {note: note} %>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="col-md-3">
    <div class="card bg-dark-l0">
      <div class="card-body" id="comments">
        <div class="card-title"><h3>Comments</h3></div>
        <ul class="list-group">
          <% @note.user_comments.each do |user_comment| %>
            <%= render partial:"parts/comment", locals: { comment: user_comment } %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card bg-dark-l0">
      <div class="card-body" id="reactions">
        <div class="card-title"><h3>Reactions</h3></div>
        <a id="like_button" href="<%= likes_notebook_path({@note.id})%>" class="btn btn-xs">
        <i class="bi bi-suit-heart<%= current_user.likes_note(@note) ? "-filled" : ""%>"></i>
        <span id="num_likes"><%= @note.likes%></span></a>
      </div>
    </div>
  </div>
</div>